{% load static %}
<!DOCTYPE html>
    <head>
        {% include 'core/snippets/base.html' %}
        <title>Bandersnatch - Login</title>
    </head>
    <body>
        <div class="container"> 
            
            <div class="half-page padding-top margin-left"> 
                <h2>Login</h2>
                <form class="login_form"> 
                    {% include 'core/snippets/form.html' with form=login_form %}
                    <button class="ui button margin-top-small submit-button">Submit</button>
                    <a class="ui button margin-top-small" href="/">Back</a>
                </form>
                 
            </div>
        </div>
    </body>
</html>
<script>
    (function () {
        var form = $(".login_form")
        form.submit(function (event) {
            var url = '/login/submit/'
            var spinner = $('.submit-button')
            submitForm(event, url, form, spinner, { redirect: '/stage'},function(){console.log("OOps")})
        })
    })()
</script>