{% load static %}
<!DOCTYPE html>
    <head>
        {% include 'core/snippets/base.html' %}
        <title>Bandersnatch</title>
    </head>
    <body>
        <center class="padding-top">
            <h1>Bandersnatch</h1>
            <h3>Description: {{stage_description}}</h3>

            {% if choice_a_description %}
                <a id="choice_a" href="/stage/a/" class="ui inverted blue button"> Choice A: {{choice_a_description}}</a>
            {% endif %}

            {% if choice_b_description %}
                <a id="choice_b" href="/stage/b/" class="ui inverted red button"> Choice B : {{choice_b_description}} </a>
            {% endif %}
        </center>
    </body>
    <script>
        
    </script>
</html>