{% load static %}

<!--Style-->
<link href="{% static 'core/img/favicon.ico' %}" rel="shortcut icon"/>
<link rel="stylesheet" type="text/css" href="{% static 'core/css/semantic.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'core/css/base.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<!--Script-->
<script src="{% static 'core/js/jquery.js' %}"></script>
<script src="{% static 'core/js/spinner.js' %}"></script>
<script src="{% static 'core/js/ajax-forms.js'%}"></script>